table { 
    width: 100%; 
    border-collapse: collapse; 
    margin-top: 20px; 
}

th, td { 
    border: 1px solid #ccc; 
    padding: 8px; 
    text-align: left; 
}

th { 
    background-color: #f0f0f0; 
}

input, button { 
    margin: 5px; 
    padding: 5px; 
}

* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    padding: 0;
    margin: 0;
}
.app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    color: #961111;
}

.main-block {
  height: 400px;
  box-shadow: 0 20px 60px rgba(109, 201, 255, 0.3);
  padding: 30px;
  gap: 16px;
}
.hidden-file-input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  overflow: hidden;
  z-index: -1;
}
.file-input {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  color: rgb(255, 255, 255);
  background-color: #961111;
  border: none;
  height: 50px;
  border-radius: 28px;
  font-size: 16px;
  cursor: pointer;
  user-select: none;
  width: 320px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
.file-input:hover {
    background-color: #cc1717;
}

.main-block > div {
    display: flex;
    gap: 12px;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.main-block label {
    display: flex;
    align-items: center;
    gap: 6px;
    background: #f8f9fa;
    padding: 6px 12px;
    border-radius: 20px;
    border: 1px solid #ddd;
    cursor: pointer;
}

.time {
    width: 250px;
}

.lvl {
    width: 120px;
}

.service {
    width: 180px;
}

.main-block label:hover {
    background: #e9ecef;
}

.main-block input[type="checkbox"] {
    margin: 0;
    transform: scale(1.1);
}

.main-block input[type="datetime-local"] {
    padding: 8px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    width: 180px;
}
.main-block input[type="text"] {
    padding: 8px 10px;
    border: 1px solid #ccc;
    border-radius: 28px;
    font-size: 14px;
    width: 500px;
    height: 50px;
}

#exportButton {
    padding: 10px 20px;
    background: rgba(153, 87, 12);
    color: white;
    border: none;
    border-radius: 28px;
    font-size: 16px;
    cursor: pointer;
    height: 50px;
}

#exportButton:hover {
    background: rgb(194, 114, 22);
}

#exportButton:active {
    transform: translateY(1px);
}

.table-div {
  padding: 10px 30px 30px;
  box-shadow: 0 20px 60px rgba(153, 87, 12, 0.3);
}

.card {
  width: 100%;
  max-width: 1440px;
  margin: 50px auto;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.errors-div {
  width: 100%;
  max-width: 1440px;
  margin: 20px auto 50px auto;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 20px 60px rgba(200, 50, 50, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #fff;
  flex-wrap: wrap;
  
}

#parseReport {
  width: 100%;
  height: 120px;
  max-width: 1400px;
  font-size: 14px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 12px;
  resize: none; 
  overflow-y: auto; 
  white-space: pre-wrap; 
  line-height: 1.5;
  color: #333;
}